* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.input-field {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.input-field label {
  font-weight: bold;
  margin-bottom: 0.3rem;
}

.input-field input {
  padding: 0.5rem 1.5rem;
  border-radius: 25px;
  border: 1px solid black;
}

.authentication-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a {
  margin-left: 0.3rem;
  text-decoration: none;
  color: #ffa600;
  font-weight: bold;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

a:hover {
  text-decoration: underline;
}

button {
  margin-top: 1.5rem;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  background-color: #ffa600;
  padding: 0.5rem 1.5rem;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

button:hover {
  background-color: #ff9900;
}
